body{
	.home{
		#header_main{
			height: 450px;
		}
		#content{
			min-height:400px;
			@include background-image(linear-gradient(rgba(246,246,246,0.7), rgba(246,246,246,1) 25%)); 
			>.inner{
				.col1{
					display: block;
					width: 84%;
					margin: 0 0 0 5.32%;
					float: none;
					.inner{
						width: 100%;
						margin: 0;
					}
				}
				.login,.col3{
					position: static;
					width: 42%;
					margin: 0 0 0 5.32%;
				}

			}
		
		}
	}
}