body{
	.inside.mynsnu{
		h2{
			color: #d22027;
		}
		h3{
			color: #d22027;
		}
		a{
			color: #3366cc;
		}
		#content{
			>.inner{
				background: #ffffff;
				>h1{
					margin: 30px 15px 40px 30px;
					font-size: em(34px);
					color: #d22027;
					font-weight: bold;
				}
				.col1{
					.nav_sub{
						margin-bottom: 70px;
					}
					.feature{
						h2{
							font-size: em(18px);
							line-height: 1.2em;
							margin-top: 0;
						}
						h3{
							font-size: em(15px);
							color: #383838;
						}
					}
				}
				.col2{
					.inner{
						.announcement{
							background-color: #e02a33;
							@include background-image(linear-gradient(#e02a33 ,#a50000));
							color: #FFF;
							overflow: hidden;
							a{
								color: #FFF;
							}
							h1{
								font-size: em(18px);
								font-weight: normal;
								margin-bottom: 10px;
								line-height: normal;
							}
							p{
								font-size: em(26px);
								margin: 0;
								padding: 0;
								line-height: normal;
							}
							p.byline{
								font-size: em(12px);
								text-align: right;
							}
							.inner{
								margin: 20px 35px;
							}
						}
					}
				}
			}
		}
	}
}