$base-font-size: 1.125em;
/*handy little function for converting pixel size to em for fonts*/
@function em($target, $context: $base-font-size) {
   @if $target == 0 { @return 0 }
   @return $target / $context + 0em;
}

/*getting fancy with some css3 calc for mixed value widths, needs manual fallback*/
@mixin calc($property, $expression) { 
  #{$property}: -moz-calc(#{$expression}); 
  #{$property}: -o-calc(#{$expression}); 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
} 

@import "compass/css3";
$base-font-size: 16px;
$outerWidthMax: 1300px;
$outerWidthMin: 950px;
$innerWidth: 950px;
$experimental-support-for-svg: true;
$interface-spacing: 50px;
@import "interface/*.png";

.btn_red{
	display: inline-block;
	font-size: 16px;
	color: #FFF;
	padding: 10px 25px;
	background-color: #e02a33;
	@include background-image(linear-gradient(#e02a33 ,#a80203));
	border: none;
	&:visited,&:hover{
		color: #FFF;
		text-decoration: none;
	}
	&:active{
		@include background-image(linear-gradient(#e02a33 ,#a80203));
		@include box-shadow(1px 1px 1px 3px rgba(0,0,0,0.4) inset,-1px -1px 1px 3px rgba(255,255,255,0.4) inset);
	}

}

.btn_blue, .qp_voteButton input[type="submit"]{
	display: inline-block;
	font-size: 16px;
	color: #FFF;
	padding: 10px 25px;
	background-color: #e02a33;
	@include background-image(linear-gradient(#035573 ,#000405));
	border: none;
	&:visited,&:hover{
		color: #FFF;
		text-decoration: none;
	}
	&:hover{
		@include background-image(linear-gradient(#000405, #035573));
	}
}

a.externallink {padding-right: 16px; background: url(/site/images/icon_externallink.gif) no-repeat right center; }
a.pdflink {padding-right: 16px; background: url(/site/images/icon_pdflink.gif) no-repeat right center; }
a.emaillink {padding-right: 16px; background: url(/site/images/icon_emaillink.gif) no-repeat right center;}