<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="NsnuConnectionString" connectionString="Data Source=(local)\SQL2008;Initial Catalog=nsnu;Persist Security Info=True;INTEGRATED SECURITY=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" defaultUrl="~/Admin/Index.aspx" timeout="10000"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <membership defaultProvider="NsnuMembershipProvider">
      <providers>
        <clear/>
        <add name="NsnuMembershipProvider" type="Nsnu.MembershipServices.NsnuMembershipProvider,Nsnu.MembershipServices"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="NsnuRoleProvider" cacheRolesInCookie="true">
      <providers>
        <clear/>
        <add name="NsnuRoleProvider" type="Nsnu.MembershipServices.NsnuRoleProvider,Nsnu.MembershipServices"/>
      </providers>
    </roleManager>
  </system.web>
  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="admin,readonly"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>