<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ISL.OneWeb.NSNU.FluidSurveyLinker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <applicationSettings>
    <ISL.OneWeb.NSNU.FluidSurveyLinker.Properties.Settings>
      <setting name="ApiKey" serializeAs="String">
        <value>fWG59Swqdb34sxgBcTfpGbdXvwGhNb</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>abc123</value>
      </setting>
      <setting name="BaseUrl" serializeAs="String">
        <value>https://surveys.nsnu.ca</value>
      </setting>
    </ISL.OneWeb.NSNU.FluidSurveyLinker.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="OneWebApps" connectionString="Data Source=CORUSCANT64\COR2008;Initial Catalog=nsnu_cm70;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>