<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!--
		<sectionGroup name="">
			<section name="" type="" />
		</sectionGroup> -->
		<!-- URL Rewriter config -->
		<section name="rewriteExclusions" type="ISL.OneWeb4.UI.Components.Modules.ModuleRewriterConfigurationHandler, ISL.OneWeb4.UI.Web"/>
		
		<!-- Error Handler config -->
		<section name="errorPages" type="ISL.OneWeb4.UI.Components.Modules.ModuleErrorConfigurationHandler, ISL.OneWeb4.UI.Web"/>
		
		<!-- Exception Management -->
		<section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler, Microsoft.ApplicationBlocks.ExceptionManagement, Version=1.0.2161.27468, Culture=neutral, PublicKeyToken=bb3a4feb1c94e7d2"/>

		<!-- Search Providers -->
		<section name="search" type="ISL.OneWeb4.UI.Components.Search.SearchConfigurationHandler, ISL.OneWeb4.UI.Web"/>
					
		<!-- Storage Providers -->
		<section name="storage" type="ISL.OneWeb4.UI.Components.Storage.StorageConfigurationHandler, ISL.OneWeb4.UI.Web"/>
		
		<!-- Membership Providers -->
		<section name="membership" type="ISL.OneWeb4.UI.Components.Membership.MembershipConfigurationHandler, ISL.OneWeb4.UI.Web"/>

		<!-- Analytics Providers -->
		<section name="analytics" type="ISL.OneWeb4.UI.Components.Analytics.AnalyticsConfigurationHandler, ISL.OneWeb4.UI.Web"/>

		<!-- FileResolution Providers -->
		<section name="fileResolution" type="ISL.OneWeb4.UI.Components.FileResolution.FileResolutionConfigurationHandler, ISL.OneWeb4.UI.Web"/>

		<!-- Core apps -->
		<section name="flickrIframeConfiguration" type="ISL.OneWeb4.Applications.FlickrIframe.Configuration.ConfigurationHandler, ISL.OneWeb4.Applications.FlickrIframe"/>
		<section name="googleMapsConfiguration" type="ISL.OneWeb4.Applications.GoogleMaps.Configuration.ConfigurationHandler, ISL.OneWeb4.Applications.GoogleMaps"/>
		<section name="pageListingsConfiguration" type="ISL.OneWeb4.Applications.PageListings.Configuration.ConfigurationHandler, ISL.OneWeb4.Applications.PageListings"/>

		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="ISL.OneWeb4.Applications.RSSAggregator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="ISL.OneWeb4.Applications.StockQuote.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="ISL.OneWeb4.Applications.YouTubePlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="ISL.OneWeb4.Modules.EventCalendar.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="ISL.OneWeb4.Modules.EmploymentOpportunity.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="ISL.OneWeb4.Modules.QuickPoll.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>

	</configSections>
	
	<!-- custom configuration settings -->
	
	<!-- paths to be excluded from the url rewriter -->
	<rewriteExclusions>
		<!-- can have a path attribute for a string comparison or a pattern attribute for a regular expression comparison -->
		<!-- if a redirect attribute is given, the text in the pattern will be replaced with the redirect string -->
		<!-- 
			path		: string path to match exactly
			pattern		: regular expression pattern to match
			redirect	: replacement string for regular expression pattern to redirect the request to
		-->
		<exclusion pattern="\.axd($|\?)"/>
		<exclusion pattern="\.as(h|m)x"/>
		<exclusion pattern="\.svc($|\?)"/>
		<exclusion pattern="Telerik.Web.UI.DialogHandler.aspx"/>
		<exclusion pattern="^(\S*/)?ow/(images|styles5?|scripts5?)/" redirect="~/ow/$2/" />
		<exclusion pattern="^(\S*/)?core/(images|styles|scripts)/" redirect="~/core/$2/" />
		<exclusion pattern="^(\S*/)?site/styles/images" redirect="~/site/images"/>
		<exclusion pattern="^(\S*/)?site/" redirect="~/site/"/>
		<exclusion pattern="^~/core/"/>
		<exclusion pattern="^~/ow/"/>
		<exclusion pattern="^~/editor/"/>
		<exclusion pattern="^~/RadControls/"/>
		<exclusion pattern="^~/membership/"/>
		<exclusionFile href="~/core/redirects.xml"/>
		<exclusionFile href="~/site/redirects.xml"/>
	</rewriteExclusions>
	
	<!-- paths to the error pages on a site.  The '~~' symbol refers to the current site root address 
		followed by the current culture designation.  Using this notation means these paths must be the 
		same for each error page.  This key is used instead of the customErrors element in system.web because
		that element data is not available to the code.  -->
	<errorPages>
		<!--
			statusCode	: status code value for redirections (403, 404, etc.). '*' catches all other errors
			redirect	: the redirection path where the error page resides
		-->
		<error statusCode="403" redirect="~~/error/403.aspx"/>
		<error statusCode="404" redirect="~~/error/404.aspx"/>
		<error statusCode="500" redirect="~~/error/500.aspx"/>
		<error statusCode="*" redirect="~~/error/default.aspx"/>
	</errorPages>
	
	<exceptionManagement mode="on">
		<!-- Exception management publisher settings:
			mode			: "on" or "off"
			assembly		: name of assembly 
		-->
		
		<!-- TextPublisher custom configuration 
			logFolder		: The path to the directory to store the log files within; relative paths will be relative to the application root. 
								If it doesn't exist, the component will attempt to create it.  The service must have write access to this directory.
			applicationName	: The name to group the exception logfiles under.  This creates a subfolder to hold the exceptions.  
								If not set, no subfolder will be used.
			logFile			: The log file name.  If it is not set, the component will create a separate time-based file name for each exception.
			-->
		<publisher mode="on" assembly="ISL.Common.ExceptionManagement, Version=1.1.0.0, Culture=neutral, PublicKeyToken=bb3a4feb1c94e7d2" type="ISL.Common.ExceptionManagement.Publishers.TextPublisher" 
			logFolder="..\exceptions" applicationName="" logFile="" />
			
		<!-- EmailPublisher custom configuration 
			recipientEmail	: The recipient's email address
			senderEmail		: The email address to send the exception information from.
			smtpServer		: The SMTP server
			applicationName	: The name of the application.  This appears in the subject line.
			-->
		<publisher mode="off" assembly="ISL.Common.ExceptionManagement, Version=1.1.0.0, Culture=neutral, PublicKeyToken=bb3a4feb1c94e7d2" type="ISL.Common.ExceptionManagement.Publishers.EmailPublisher" 
			recipientEmail="" senderEmail="" applicationName="" smtpServer="" />
			
		<!-- DefaultPublisher configuration
			logName			: The Event Log name
			applicationName	: The Event Log source
				- note that the event log and source must be created before an event can be logged to it.  The ASP.NET runtime process does not have
				the security access required to log to it.
			-->
		<publisher mode="off" assembly="Microsoft.ApplicationBlocks.ExceptionManagement, Version=1.0.2161.27468, Culture=neutral, PublicKeyToken=bb3a4feb1c94e7d2" type="Microsoft.ApplicationBlocks.ExceptionManagement.DefaultPublisher"
			logName="Application" applicationName="OneWeb CMS"/>
	</exceptionManagement>
	
	<search>
		<!-- Search Provider settings:
			mode			:	"on" or "off"
			assembly		:	name of assembly
			type			:	full class name of search provider
			exclusive		:	"yes" or "no" - if the provider returns results, use them solely.
			responseFormat	:	"entity" or "xml" - the format of the search results
		-->
		<!-- Event Calendar search provider - enable and set resultsPageAddress if Event Calendar module used -->
		<provider mode="on" assembly="ISL.OneWeb4.Modules.EventCalendar" type="ISL.OneWeb4.Modules.EventCalendar.DataAccess.SearchProvider" 
 			resultsPageAddress="~~/home/events/eventdetails.aspx" />
		<!-- Employment Opportunities Search provider - enable and set resultsPageAddress if Emp. Opps. module used-->
		<provider mode="off" assembly="ISL.OneWeb4.Modules.EmploymentOpportunity" type="ISL.OneWeb4.Modules.EmploymentOpportunity.DataAccess.SearchProvider" 
			resultsPageAddress="~~/" />

		<!-- Document storage search provider - enable if document storage is enabled on the database -->
		<provider mode="off" assembly="ISL.OneWeb4.UI.Web" type="ISL.OneWeb4.UI.Components.Storage.OneWebStorageProvider" exclusive="no" responseFormat="entity" />

		<!-- Native OneWeb SQL Server full text catalog search provider-->
		<provider mode="on" assembly="ISL.OneWeb4.UI.Web" type="ISL.OneWeb4.UI.Components.Search.OneWebSearchProvider" exclusive="yes" responseFormat="entity" />

		<!-- Bundled Google Search Appliance/Site Search search provider - for Google Search Appliance - set href and suggestHref properties -->
		<provider mode="off" assembly="ISL.OneWeb4.System.SearchProviders" type="ISL.OneWeb4.Sys.Search.Providers.GoogleSearchProvider" exclusive="yes" responseFormat="entity" 
			href="http://..." query="as_q={criteria}&amp;lr=lang_{culture}&amp;as_sitesearch=&amp;restrict=&amp;site=master_collection&amp;output=xml_no_dtd&amp;client=master_collection&amp;num={maxresults}&amp;filter=0&amp;oe=utf8"
			suggestHref="http://.../suggest" suggestQuery="q={criteria}&amp;site=default_collection&amp;client=default_collection&amp;access=p&amp;format=rich" />

		<!-- Bundled Google Search Appliance/Site Search search provider - for Google Site Search - set cx query parameter -->
		<!-- provider mode="off" assembly="ISL.OneWeb4.System.SearchProviders" type="ISL.OneWeb4.Sys.Search.Providers.GoogleSearchProvider"
			href="http://www.google.com/cse" query="as_q={criteria}&amp;lr=lang_{culture}&amp;cx=...&amp;client=google-csbe&amp;output=xml_no_dtd&amp;num={maxresults}&amp;oe=UTF-8&amp;ie=UTF-8"
			suggestHref="http://www.google.com/complete/search" suggestQuery="" / -->
	</search>
	
	<storage mode="off">
		<!-- Storage Provider settings:
			mode			:	"on" or "off"
			assembly		:	name of assembly
			type			:	full class name of search provider
		-->
		<!-- OneWeb File provider 
			- saves the files to the file system.
			storageRoot		: the path to the root of the document storage.   Can be an absolute or relative path, but the process user must have write access to it.
		-->
		<provider mode="off" assembly="ISL.OneWeb4.System.StorageProviders" type="ISL.OneWeb4.Sys.Storage.Providers.FileStorageProvider" storageFolder="../storage"/>
		<!-- OneWeb Database provider 
			- saves the files to the database
		-->
		<provider mode="off" assembly="ISL.OneWeb4.UI.Web" type="ISL.OneWeb4.UI.Components.Storage.OneWebStorageProvider"/>
	</storage>
	
	<!-- Membership Configuration Settings
		mode		:		[on|off]
		menuRestriction	:		[none|inherited|directWhenInherit|all]
			- controls the displays of menu items for protected pages:
				- none: remove no protected pages (testing purposes only)
				- all: remove all protected pages
				- inherited: remove protected pages that the member does not have inherited access to
				- directWhenInherit (default): remove protected pages that the member does not have direct access to, when it inherits a restriction
		logonPage	:		The path to the logon page.
		profilePage	:		The path to the profile page.
		registrationPage :	The path to the registration page.
	 -->
	<membership mode="on" menuRestriction="all" logonPage="~~/home/mynsnulogin.aspx" profilePage="~~/home/mynsnu/memberprofiles.aspx">
		<!-- Membership Provider settings:
			mode			:	"on" or "off"
			assembly		:	name of assembly
			type			:	full class name of search provider
		-->
		<!-- OneWeb Database provider 
			- saves and authenticates the Member information into the OneWeb database
			allowRegistration	: "true" or "false"
			allowRemoval		: "true" or "false"
			enabledFeatures		: "All" or 
									combination of (SelfRegistration,SelfRemoval,ChangePassword,ForgottenPassword,ForgottenNameOrEmail,
										UpdateFirstName,UpdateLastName,UpdateTitle,UpdateEmail)
									or "Default" (= ChangePassword,ForgottenPassword,ForgottenNameOrEmail,UpdateFirstName,UpdateLastName,UpdateTitle,UpdateEmail)
									or "ManagePassword" (= ChangePassword,ForgottenPassword)
									or "ManageRegistration" (= SelfRegistration,SelfRemoval; allowRegistration and allowRemoval override these settings)
									or "UpdateProperties" (= UpdateFirstName,UpdateLastName,UpdateTitle,UpdateEmail)
		-->
		<provider mode="off" assembly="ISL.OneWeb4.UI.Web" type="ISL.OneWeb4.UI.Components.Membership.OneWebMembershipProvider" allowRegistration="false" allowRemoval="true" enabledFeatures="ManageRegistration,ManagePassword,UpdateProperties" />
		<provider mode="on" assembly="NSNUMembership" type="ISL.OneWeb.ClientApplications.NSNU.NSNUMembership.Components.Membership.NSNUMembershipProvider" maxlogonattempts="25" allowRegistration="false" allowRemoval="false" enabledFeatures="ManagePassword,UpdateEmail" />

	</membership>
	
	<!-- Analytics Configuration Settings
		mode				: "on" or "off"
		enableEventTracking	: "true" or "false"
			- controls the automatic initialization of elements for event tracking.  This is done on page load, and so has a slight performance implication
		enableSocialracking	: "true" or "false"
			- controls the automatic initialization of social plugins for social tracking.  This is done on page load, and so has a slight performance implication
		oneWebActionMethod	: "PageView" or "Event"
			- which tracking method to use for tracking OneWeb standard events (external links, downloads, form submissions); default is PageView
	-->
	<analytics mode="on" enableEventTracking="true" oneWebActionMethod="Event" enableSocialTracking="true">
		<!-- GoogleAnalyticsAnalyticsProvider (default provider is none specified
					async			: "true" or "false"		- set the asynchronous mode for the tracking code (default is true)
					version			: "current", "next", "beta", or "debug" - determine the version of ga.js code to load from Google (default is current)
					anonymize		: "true" or "false"		- sets if the ip should be anonymized before storage by Google; if true, reduces the reliability of the geolocation reports
					perfSampleRate	: between "0" and "100"	- sets the site speed sample rate as a percentage, subject to rules by Google (default is 1)
					-->
		<provider mode="on" assembly="ISL.OneWeb4.UI.Web" type="ISL.OneWeb4.UI.Components.Analytics.GoogleAnalyticsAnalyticsProvider"
			version="current" async="true" anonymize="false" perfSampleRate="1" />
	</analytics>
	
	<fileResolution mode="on">
		<!-- File Resolver settings:
			mode			:	"on" or "off"
			assembly		:	name of assembly
			type			:	full class name of search provider
		<provider mode="clear"/>
		-->
		<!-- AspNetAjaxCdnResolver - resolves core ASP.NET Ajax scripts to the standard ajax.aspnetcdn.com host -->
		<provider mode="on" assembly="ISL.OneWeb4.UI.Web" type="ISL.OneWeb4.UI.Components.FileResolution.AspNetAjaxCdnResolver" />
		<!-- TelerikCdnResolver - resolves Telerik scripts and stylesheets to the standard Telerik CloudFront cdn -->
		<provider mode="on" assembly="ISL.OneWeb4.UI.Web" type="ISL.OneWeb4.UI.Components.FileResolution.TelerikCdnResolver" />
		<!-- OneWebCdnResolver - resolves core/admin OneWeb scripts and styles to a cdn host -->
		<provider mode="off" assembly="ISL.OneWeb4.UI.Web" type="ISL.OneWeb4.UI.Components.FileResolution.OneWebCdnResolver" />
		<!-- AutoVersionResolver - adds unique parameters to the addresses of scripts and style static files in order that they are forced to reload when changed -->
		<provider mode="on" assembly="ISL.OneWeb4.UI.Web" type="ISL.OneWeb4.UI.Components.FileResolution.AutoVersionResolver" />

	</fileResolution>
	
	<!-- Core Applications -->
	
	<!-- The Flicker IFrame configuration settings -->
	<flickrIframeConfiguration 
		defaultAlignment="Left" 
		defaultWidth="500" 
		defaultHeight="500"
	/>
	
	<!-- The Google Maps configuration settings -->
	<googleMapsConfiguration 
		geoCoderPath="http://maps.google.com/maps/api/geocode/xml"
		defaultMapType="Normal" 
		defaultZoomLevel="13">
	</googleMapsConfiguration>
	
	<!-- The page listings configuration settings -->
	<pageListingsConfiguration 
		parentItemLimit="10" 
		childItemLimit="10" 
		defaultArchiveItemPageSize="10"
	/>

    <applicationSettings>
		<!-- utilize the default settings built into the applications -->
    </applicationSettings>

  <!-- Database connections -->
  <connectionStrings>
    <add connectionString="SERVER=CORUSCANT64\COR2008;  DATABASE=nsnu_cm70; INTEGRATED SECURITY=SSPI;" name="OneWebCMS" />
    <!-- add name="OneWebCMS" value="SERVER=; DATABASE=test_cm70; uid=; pwd="/ -->
	<add connectionString="SERVER=CORUSCANT64\COR2008;  DATABASE=nsnu_cm70; INTEGRATED SECURITY=SSPI;" name="OneWebApps" />
    <!-- add name="OneWebApps" value="SERVER=; DATABASE=test_cm70; uid=; pwd="/ -->
    <add name="NsnuConnectionString" connectionString="Data Source=Coruscant64\COR2008;Initial Catalog=nsnu5;Persist Security Info=True;User ID=nsnu;Password=nsnu" providerName="System.Data.SqlClient" />
	
	
  </connectionStrings>

	<appSettings>
		<!-- License file -->
		<add key="licenseFile" value="..\..\_license\fulllicense.xml" />
		<!-- uploaded media properties -->
		<add key="uploadImagePath" value="~/site/media"/>
		<add key="useMediaTypePath" value="False"/>		<!-- [True|False] recommended: personal preference; should OneWeb use the subdirectories in the MediaType folder to separate different media upload types -->
		<add key="maxThumbnailWidth" value="200"/>		<!-- pixels -->
		<add key="maxThumbnailHeight" value="200"/>		<!-- pixels -->
		<add key="maxImageWidth" value="1024"/>			<!-- pixels, if constrainImages is true -->
		<add key="maxImageHeight" value="768"/>			<!-- pixels, if constrainImages is true -->
		<add key="constrainImages" value="True"/>		<!-- [True|False] -->
		<!-- security control -->
		<add key="loginAttemptLimit" value="5"/>
		<add key="loginAttemptTimeout" value="30"/> <!-- minutes before allowing another attempt -->
		<add key="logonSessionTimeout" value="120"/>	<!-- minutes -->
		<add key="enableSecurePages" value="False"/>	<!-- [True|False] -->
		<!-- system feature controls -->
		<add key="enableDataCaching" value="True"/>		<!-- [True|False] recommended:True -->
		<add key="enableHierarchyCachingTimeout" value="False"/>	<!-- [True|False|minutes] hierarchy cache times out; recommended: False -->
		<add key="redirectSecondaryDomains" value="True"/>	<!-- [True|False] recommended:True -->
		<add key="protectEmailAddresses" value="True"/>	<!-- [True|False] recommended:True -->
		<add key="enableContentSEO" value="All"/>		<!-- [None|Navigation,NonIndexedContent|All] -->
		<add key="enableSitemapSEO" value="True"/>		<!-- [True|False] -->
		<add key="enableAdditionalEditorLinks" value="Default,TopTierPages"/>	<!-- [LockedPages,UnpublishedPages,TopTierPages,OtherSites|Default|All][UseAjax,LimitX] where X is 0 to 14 tier levels to initially limit the link hierarchy to -->
		<add key="enableAdditionalEditorButtons" value="Default"/>	<!-- [TranslateTool,ModuleManager,XhtmlValidator,FormatCodeBlock,FontTools,PasteHtml|Default|All] (Default = None) -->
		<add key="enableAcceptLanguages" value="True" />    <!-- [True|False] - enables utilization of the Accept-Language header for initial site language selection -->
		<add key="enableCDNScripts" value="True"/>			<!-- [True|False] - enables utilization of content delivery networks for script libaries that are correctly marked-->
		<!-- email properties - deprecated - please use the system.net/mailSettings section -->
		<add key="SMTPServerAddress" value=""/>				<!-- SMTP server host name - deprecated -->
		<add key="SystemSenderName" value=""/>				<!-- From name for system emails - deprecated -->
		<add key="SystemSenderEmailAddress" value=""/>		<!-- From address for system emails - deprecated -->
	</appSettings>
	
	<!-- set the smtp server settings -->
	<system.net> 
		<mailSettings>
			<smtp deliveryMethod="Network" from="OneWeb CMS &lt;noreply@isl.ca&gt;">
				<network host="smtp.isl.ca" port="25" defaultCredentials="false" />
			</smtp>
		</mailSettings>
	</system.net>
	
	<system.web>

		<!-- values to keep ISL logons synched to the same encryption keys -->
		<machineKey validationKey="15E7DDC3ACE3ADF52E650271160836857D2EE7055DA578E059E05DCF6BE48C961236FA8452416EF2FEA53ABC53D244B9E0D3A606EA0C451F120486597C193B1B" 
			decryptionKey="FC8692ECC3308BE4AC193A8527000BDC54A6EE9A42724D39" 
			validation="SHA1"
		/>
		

		<httpModules>
			<remove name="FormsAuthentication"/>
			<remove name="PassportAuthentication"/>
			<remove name="UrlAuthorization"/>
			<remove name="ErrorHandlerModule"/>
			<remove name="Session"/>
			<remove name="WindowsAuthentication"/>
			<remove name="FileAuthorization"/>
			<!--

	-->
			<add type="ISL.OneWeb4.UI.Components.Modules.ModuleTimer, ISL.OneWeb4.UI.Web" name="ModuleTimer"/>
			<add type="ISL.OneWeb4.UI.Components.Modules.ModuleRewriter, ISL.OneWeb4.UI.Web" name="ModuleRewriter"/>
			<add type="ISL.OneWeb4.UI.Components.Modules.ModuleError, ISL.OneWeb4.UI.Web" name="ModuleError"/>
			<add type="ISL.OneWeb4.UI.Components.Modules.ModuleSecurity, ISL.OneWeb4.UI.Web" name="ModuleSecurity"/>
			<add type="ISL.OneWeb4.UI.Components.Modules.ModuleMembership, ISL.OneWeb4.UI.Web" name="ModuleMembership"/>
			<add type="ISL.OneWeb4.UI.Components.Modules.ModuleUpload, ISL.OneWeb4.UI.Web" name="ModuleUpload"/>
			<add type="ISL.OneWeb4.UI.Components.Modules.ModuleClientProxyAdditions, ISL.OneWeb4.UI.Web" name="ModuleClientProxyAdditions"/>
		</httpModules>
		

		<httpHandlers>
			<add verb="*" path="Telerik.Web.UI.DialogHandler.aspx" validate="false" type="Telerik.Web.UI.DialogHandler"/>
			<add verb="*" path="Telerik.Web.UI.WebResource.axd" validate="false" type="Telerik.Web.UI.WebResource, Telerik.Web.UI"/>
			<add verb="*" path="Telerik.Web.UI.SpellCheckHandler.axd" validate="false" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI"/>
		</httpHandlers>

		<!-- use custom validator type to allow markup in web posts by admins in .NET 4 -->
		<httpRuntime requestValidationType="ISL.OneWeb4.UI.Components.Utility.RequestValidator" />

		<!-- turn off checking of request fields for html entries, and disable the encryption of the ViewState for performance reasons -->
		<pages validateRequest="false" enableViewStateMac="false" enableSessionState="false">
			<controls>
				<!--<add tagPrefix="act" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit, Version=4.1.7.0123, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e"/>-->
			</controls>
		</pages>
		
		<!--  DYNAMIC DEBUG COMPILATION
				Set compilation debug="true" to insert debugging symbols (.pdb information)
				into the compiled page. Because this creates a larger file that executes
				more slowly, you should set this value to true only when debugging and to
				false at all other times. For more information, refer to the documentation about
				debugging ASP.NET files.
		-->
		<!-- set debug="true" for development, debug="false" for staging/production -->
    <compilation defaultLanguage="vb" debug="false" targetFramework="4.0">
			<assemblies>
			<!--<add assembly="AjaxControlToolkit, Version=4.1.7.0123, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e"/>-->
			<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</assemblies>
	</compilation>
		
		<!--  CUSTOM ERROR MESSAGES
				Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
				Add <error> tags for each of the errors you want to handle.

				"On" Always display custom (friendly) messages.
				"Off" Always display detailed ASP.NET error information.
				"RemoteOnly" Display custom (friendly) messages only to users not running 
				on the local Web server. This setting is recommended for security purposes, so 
				that you do not display application detail information to remote clients.
		-->
		<!-- set mode="RemoteOnly" for development, mode="On" for staging/production -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/error.htm"/>
		
		<!--  AUTHENTICATION 
				This section sets the authentication policies of the application. Possible modes are "Windows", 
				"Forms", "Passport" and "None"

				"None" No authentication is performed. 
				"Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
				its settings for the application. Anonymous access must be disabled in IIS. 
				"Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
				you authenticate them in your application. A user credential token is stored in a cookie.
				"Passport" Authentication is performed via a centralized authentication service provided
				by Microsoft that offers a single logon and core profile services for member sites.
		-->
		<authentication mode="None" />
		
		<!--  AUTHORIZATION 
				This section sets the authorization policies of the application. You can allow or deny access
				to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
				(unauthenticated) users.
		-->
		<authorization>
			<allow users="*"/> <!-- Allow all users -->
			<!--  <allow     users="[comma separated list of users]"
									roles="[comma separated list of roles]"/>
						<deny      users="[comma separated list of users]"
									roles="[comma separated list of roles]"/>
				-->
		</authorization>

		<!-- IDENTITY
				This section specifies if impersonation is used, and optionally which identity to impersonate.  If not used,
				ASP.NET will use the identity running the worker process (aspnet_wp.exe in IIS5.0/5.1, and w3wp.exe in IIS6).
				In IIS6, the identity of the worker process can be controlled through the application pool the web application
				is running under.  In IIS5, the identity can be set using the processModel element in machine.config.
				If set to true, ASP.NET will use the identity of the person making the request, which could be either the 
				anonymous user account, or an authenticated user if user authentication is turned on.  Optionally, a userName
				and password attribute could be specified here which would set the user to impersonate.
				If you have the database running on another server, and are using a local account to run ASP.NET, then impersonation
				will need to be true in order to have a logon context which can access the database over the internal network.
		-->
		<identity impersonate="false"/>
		<!-- identity impersonate="true" userName="" password="" / -->
		
    <trust level="Full" originUrl=""/>
		
		<!--  APPLICATION-LEVEL TRACE LOGGING
				Application-level tracing enables trace log output for every page within an application. 
				Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
				trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
				application trace log by browsing the "trace.axd" page from your web application
				root. 
		-->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		
		<!--  SESSION STATE SETTINGS
				By default ASP.NET uses cookies to identify which requests belong to a particular session. 
				If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
				To disable cookies, set sessionState cookieless="true".
		-->
		<sessionState mode="Off" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		
		<!--  GLOBALIZATION
				This section sets the globalization settings of the application. 
		-->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>

	</system.web>

	<!-- IIS 7 integrated settings -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<add name="Telerik_Web_UI_DialogHandler_axd" preCondition="integratedMode" verb="*" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" />
			<add name="Telerik_Web_UI_WebResource_axd" preCondition="integratedMode" verb="*" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" />  
			<add name="Telerik_Web_UI_SpellCheckHandler_axd" preCondition="integratedMode" verb="*" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI" />
		</handlers>
		<httpCompression>
			<dynamicTypes>
				<add mimeType="application/json" enabled="true"/>
			</dynamicTypes>
		</httpCompression>
	</system.webServer>
	
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>


	<!-- set a larger timeout (2 hours) and request (upload) size (256 MB) for the AddSiteMedia, AdministerApplication, AddDocument and EditDocument pages. -->
	<location path="ow/AddSiteMedia.aspx"><system.web><httpRuntime maxRequestLength="262144" executionTimeout="7200"/></system.web><system.webServer><security><requestFiltering><requestLimits maxAllowedContentLength="268435456"/></requestFiltering></security></system.webServer></location>
	<location path="ow/AddDocument.aspx"><system.web><httpRuntime maxRequestLength="262144" executionTimeout="7200"/></system.web><system.webServer><security><requestFiltering><requestLimits maxAllowedContentLength="268435456"/></requestFiltering></security></system.webServer></location>
	<location path="ow/AdministerApplication.aspx"><system.web><httpRuntime maxRequestLength="262144" executionTimeout="7200"/></system.web><system.webServer><security><requestFiltering><requestLimits maxAllowedContentLength="268435456"/></requestFiltering></security></system.webServer></location>
	<location path="ow/EditDocument.aspx"><system.web><httpRuntime maxRequestLength="262144" executionTimeout="7200"/></system.web><system.webServer><security><requestFiltering><requestLimits maxAllowedContentLength="268435456"/></requestFiltering></security></system.webServer></location>
	<location path="ow/services/Ping.ashx"><system.web><httpRuntime maxRequestLength="262144" executionTimeout="7200"/></system.web><system.webServer><security><requestFiltering><requestLimits maxAllowedContentLength="268435456"/></requestFiltering></security></system.webServer></location>

	<!-- OneWeb Data services configuration -->
	<location path="ow/services">
		<system.serviceModel>
			<services>
				<service name="ISL.OneWeb4.UI.Services.MediaService">
					<endpoint address="" binding="webHttpBinding" contract="ISL.OneWeb4.UI.Services.MediaService"/>
				</service>
				<service name="ISL.OneWeb4.UI.Services.ContextService">
					<endpoint address="" binding="webHttpBinding" contract="ISL.OneWeb4.UI.Services.ContextService"/>
				</service>
				<service name="ISL.OneWeb4.UI.Services.PageService">
					<endpoint address="" binding="webHttpBinding" contract="ISL.OneWeb4.UI.Services.PageService"/>
				</service>
				<service name="ISL.OneWeb4.UI.Services.UploadStatusService">
					<endpoint address="" binding="webHttpBinding" contract="ISL.OneWeb4.UI.Services.UploadStatusService"/>
				</service>
			</services>
		</system.serviceModel>
	</location>

<location path="membership/Admin">
    <system.web>
	
      	<authorization>
		<allow roles="admin,readonly"/>
		<deny users="*"/>
      	</authorization>

    </system.web>
  </location>



</configuration>
