#header_main,#content,#footer_main{
	max-width: 100%;
	min-width: 100%;
	width: 100%;
	margin: 0 auto;
	>.inner{
		width: 100%;
		margin: 0 auto;
	}
}
#footer_main .copyright >.inner{
	width: 100%;
}
.taskbar{
	width: 100%;
	margin: 0;
	float: none;
	.searcharea{
		margin-right: 25px;
	}
}

#header_main{
	>.inner{
		
		.col1{
			@include background-image(linear-gradient(#035776 ,#012330));
			width: 100%;
			height: 70px;
			margin: 0;
			padding: 0;
			
			#logo{
				width: 107px;
				height: 45px;
				margin: 12px 0 0 5%;
				a{
					width: 107px;
					height: 45px;
					background-size: contain;
				}
				
			}
		}
		#nav_main{
			width: 100%;
			float: none;
			text-align: left;
			margin: 0;
			.btn_menu,.btn_menu.active{
				display: block;
				position: absolute;
				right: 25px;
				top: 35px;
				width: 85px;
				height: 35px;
				color: #FFF;
				background-color: #012431;
				background-position: 10px -409px;
				span{
					display: block;
					position: absolute;
					bottom: 9px;
					right: 15px;
					font-size: em(13px);
				}
			}
			.btn_menu.active{
				color: #003d55;
				background-color: #ededed;
				background-position: 10px -53px;
			}
			#ow_mainNav{
				width: 100%;
				ul{
					margin: 0;
					padding: 0;
					width: 100%;
					height: auto;
					display: none;
					position: relative;
					z-index: 500;
					li{
						display: block;
						float: left;
						margin: 0;
						padding: 0;
						width: 100%;
						font-size: em(14px);
						ul{
							display: none;
						}
						&.nav_open{
							a{
								border-bottom: solid 1px #cbcbcb;
							}
							ul{
								display: block;
								li{
									font-size: 1em;
									a{
										background: #565656;
										color: #FFF;
										font-weight: normal;
										&:visited{
											color:#FFF;
										}
										&:hover,&.current{
											background: #565656;
											color: #FFF;
										}
									}
									ul{
										display: none;
									}
									&.nav_open,&.nav_open.current{
										ul{
											display: block;
											li{
												font-size: 1em;
												a{
													padding: 11px 0 11px 60px;
													background: #909090;
													font-weight: normal;
													&:hover,&.current{
														background: #909090;
														font-weight: normal;
													}
												}
											}
										}
										.btn_open{
											background-position: 30px -164px;
										}
										
									}
								}
							}
							.btn_open{
								background-position: 30px -220px;
							}
							>a,a:hover,a.current{
								@include background-image(linear-gradient(#454545, #3c3c3c));
								color: #FFF;
								font-weight: bold;
								&:visited{
									color: #FFF;
								}
							}
						}
						.btn_open{
							display: block;
							background-color: transparent;
							width: 75px;
							height: 100%;
							background-size: auto;
							padding: 0;
							text-indent: -999em;
							position: absolute;
							right: 0;
							top: 0;
							border-left: solid 1px #cbcbcb;
							background-position: 30px -105px;
						}
						a{
							display: block;
							color: #024a65;
							background-color: #ededed;
							@include background-image(linear-gradient(#ffffff ,#dedede));
							padding: 11px 0 11px 40px;
							margin: 0;
							&:hover,&.current{
								@include background-image(linear-gradient(#dedede,#FFFFFF));
								text-decoration: none;
								background-color: #FFFFFF;
							}
							&:visited{
								color: #024a65;
							}
						}
					}
				}
				&.active{
					>ul{
						display: block;
					}
				}
			}
			
		}
		.slider{
			left: 40px;
		}
	}
}
body{
	home{
		#header_main{
			height: auto;
		}
		.header_image{
			position: static;
			width: 100%;
			background-size: cover;
			background-position: top center;
			height: 500px;
			margin: 0;
		}
		#footer_main{
			.copyright{
				text-align: center;
			}
		}
	}
}

body{
	.inside{
		background: #FFF;
		#header_main{
			height: auto;
		}
		#breadcrumbs{
			display: none;
		}
		#content{
			.inner{
				h1{
					width: 90%;
					margin: 25px auto;
					line-height: 1.2em;
				}
				.addthis_line{
					display: none;
				}
				.col1,.col2{
					width: 100%;
					.inner{
						width: 90%;
						margin: 0 auto;
						#ec_calendar{
							max-width: 400px;
							margin: 0 auto;
							margin-bottom: 2em;
						}
						img{
							width: 100% !important;
							height: auto !important;
						}
					}
				}
				.col1{
					.inner{
						.nav_sub{
							display: none;
						}
						h1{
							margin-left: 0;
						}
					}
				}
				.col2{
					margin-bottom: 2em;
				}
			}
		}
		#footer_main{
			.col2{
				display: none;
			}
			.col1{
				margin-left: 5%;
			}
			.copyright{
				text-align: center;
			}
		}
	}
}

 .RadCalendar_Default .rcMain .rcMainTable{
	font-size: 24px;
	line-height: 30px;
	td{
		padding: 5px;
	}
}
.col2 div#ec_list div#ec_results div.ec_event .ec_list_eventDate{
	width: 20%;
	max-width: 100px;
}
.col2 div#ec_list div#ec_results div.ec_event .ec_list_details{
	width: 50%;
	margin-left: 0 0 0 2%;
}