@import "compass/css3";
@import "setup";
div#ec_calendar{display:block;}div#ec_calendar div.ec_title{text-align:center;margin-bottom:.5em;}
div#ec_calendar div.ec_calendartable table{width:100%;}
div#ec_calendar td{padding:1px;border:1px solid #f2f2ee;}
div#ec_calendar td.ec_calendar_dayheader{font-weight:bold;}
div#ec_calendar td.ec_calendar_day{background-color:#fff;}
div#ec_calendar td.ec_calendar_selectday{background-color:#d7e2ed;}
div#ec_calendar td.ec_calendar_currentday{background-color:#d7e2ed;}
div#ec_calendar div.ec_calendar_nav{display:block;width:100%;}
div#ec_calendar div.ec_calendarprev{width:49%;float:left;display:inline;text-align:left;}
div#ec_calendar div.ec_calendarnext{width:49%;float:right;display:inline;text-align:right;}
div#ec_search div.ec_title{margin-bottom:.5em;text-align:center;}
div.ec_searchfields div.ec_sf_group1,div.ec_searchfields div.ec_sf_group2,div.ec_searchfields div.ec_sf_group3,div.ec_searchfields div.ec_sf_group4{display:block;margin-bottom:12px;}
div.ec_sf_group1 div.formlabel,div.ec_sf_group2 div.formlabel,div.ec_sf_group3 div.formlabel,div.ec_sf_group4 div.formlabel{display:block;padding-bottom:3px;font-weight:bold;}
div.ec_sf_group1 div.forminput,div.ec_sf_group2 div.forminput,div.ec_sf_group3 div.forminput,div.ec_sf_group4 div.forminput{display:block;}
div.ec_sf_group1 div.forminput input[type="text"],div.ec_sf_group2 div.forminput input[type="text"]{border:1px solid #ccc;padding:2px;}
div.ec_sf_group3 div.forminput input[type="text"],div.ec_sf_group4 div.forminput input[type="text"]{border:1px solid #ccc;padding:2px;}
div.ec_sf_group2 div.forminput select{border:1px solid #ccc;padding:2px;}div.input_sample{display:block;color:#ccc;}
div#ec_search div.ec_searchbutton{display:block;width:100%;}
div.ec_searchbutton div.ec_button1{float:left;display:inline;margin-right:5px;}
div.ec_searchbutton div.ec_button2{float:left;display:inline;}
div#ec_list div.ec_resultsnoevents{margin-top:1.0em;}
div#ec_list div.searchresults_stats{display:block;margin-bottom:1.0em;}
div#ec_results div.ec_event{margin-top:1.0em;margin-bottom:1.0em;}
div#ec_results div.ec_list_eventDate{margin-bottom:3px;}
div#ec_results div.ec_list_detailsAddress{font-size:1.0em;font-weight:bold;}
div#ec_results div.ec_list_location{font-style:italic;}
div#ec_results div.ec_list_summary{margin-top:1.0em;}
div.ec_hr{width:100%;display:block;background-color:#eee;margin-top:4px;margin-bottom:1px;height:1px;border:0;}
div#ec_results div.ec_nowshowing{font-weight:bold;padding-bottom:10px;margin-bottom:1.0em;border-bottom:1px solid #eee;}
div#ec_list div.ec_listnoevents{margin-top:1.0em;font-weight:bold;}
div#ec_details div.ec_headers{margin-bottom:1.0em;display:block;border-bottom:1px solid #ccc;}
div#ec_details div.ec_registerlink{display:block;}
div#ec_details div.ec_info{display:block;border-bottom:1px solid #000;padding-bottom:6px;}
div.ec_details_info{float:left;display:inline;}
div.ec_details_logo{float:right;display:inline;text-align:right;}
div.ec_details_name{font-weight:bold;font-size:1.4em;}
div.ec_details_location{font-style:italic;}
div.ec_details_website{margin-bottom:1.0em;}
div#ec_details div.ec_body{padding-top:10px;}
div#ec_details div.ec_backlink{margin-top:1.0em;}
div#ec_details div.ec_details_notFound{margin-top:1.0em;}
div#ec_lure div.ec_event{margin-bottom:1.4em;}
div#ec_lure div.ec_lure_detailsAddress{font-size:1.0em;font-weight:bold;}
div#ec_lure div.ec_lure_location{font-style:italic;}
div#ec_lure div.ec_lure_morelink{text-align:right;}.clearfix:after{clear:both;content:'.';display:block;visibility:hidden;height:0;}.clearfix{display:inline-block;}* html .clearfix{height:1%;}.clearfix{display:block;}.clearboth{clear:both;}
div#ec_search .invalid{background-color:#fae6e7;display:block;margin-bottom:10px;}

div#ec_lure,div#ec_list{
	div.ec_results,div#ec_results{
		overflow: hidden;
 		div.ec_event{
 			background: #FFF;
 			margin-bottom: 5px;
 			.ec_lure_eventDate, .ec_list_eventDate{
 				float: left;
 				padding: 9px 8px 24px;
 				width: 82px;
 				border-top: #d22027 solid 6px;
 				@include background-image(linear-gradient(#d3d2ce, #FFFFFF));
 				color: #575553;
 				font-size: em(12.8px);
 				line-height: 1.4em;
 				font-weight: bold;
 			}
 			.ec_lure_detailsAddress{
 				float: left;
 				width: 176px;
 				margin: 15px 0 0 8px;
				font-weight: normal;
 			}

			.ec_list_details{ 
				width: auto;
				float: left;
				margin: 15px 0 0 15px;
			}
 		}
	}
 }

div#ec_details{
	div.ec_headers,div.ec_body{ 
		margin: 0 !important;
		border-bottom: none !important;
		p{
			margin: 0;
		}
	}
	
}
div.ec_details_info{ 
	div.ec_details_date{
		float: left;
		margin-right: 25px;
 		padding: 15px;
 		width: 60px;
 		border-top: #d22027 solid 6px;
 		@include background-image(linear-gradient(#d3d2ce, #FFFFFF));
 		color: #575553;
 		font-size: em(14px);
 		line-height: 1.4em;
 		font-weight: bold;
	}
	div.ec_location{ 
		float: left;
	}
}

div#ec_calendar, div#ec_search{ 
	margin-bottom: 50px;
}

div#ec_search div.ec_title{
	text-align: left;
	font-weight: bold;
}
div#ec_search{
	.ec_sf_group1,.ec_sf_group2,.ec_sf_group3,.ec_sf_group4,.ec_sf_group5{
		.formlabel{
			font-weight: normal;
		}
	}
}